.about-container{
    padding: 2rem;
    position: absolute;
    margin-top: 65px;
    padding: 2rem;
}

.about-container p{
    font-size: 2rem;
}
.about-container h1{
    font-size: 3rem;
    margin-bottom: 5px;
 
}
.about-container h1 span{
    color: #00985D;
}
.about-container h2{
    font-size: 2rem;
    margin-top: 2rem;
    margin-bottom: 2px;
    color: #00cc7a;
}
.about-container li{
    font-size: 2rem;
    line-height: 3rem;
}